*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Use percentages for default font size to account for users with vision impairment and larger default font sizes */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
